<!DOCTYPE html>
<html>
    <head>
        <!-- Header inclusion-->
        <%- include ../template/header.ejs %>
    </head>
    <body style="background-color: #fcfffd;">
        <%- include ../template/navbar.ejs %>
        <br \ />

        <div class="container col-6">
            <h1 class="hdb" style="font-size: 3em;"><%= title %></h1>
            A restaurant registration is also required if you are registering as
            an owner.
            <br />


            <form
                action="/account/deleteuser"
                method="post"
            >
                <input
                    type="hidden"
                    id="uid"
                    name="uid"
                    value="<%= data[0].uid%>"
                />


            <button type="submit" class="btn-link">Don't have a restaurant? Register as a customer instead.</button>

            </form>


            <form
                action="/restaurant/add"
                method="post"
                class="needs-validation"
                novalidate
            >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="resName">Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="resName"
                            name="resName"
                            placeholder="Name of your restaurant"
                            required
                        />
                        <div class="invalid-feedback">
                            Field cannot be left blank
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="resLoc">Location</label>
                        <input
                            type="text"
                            class="form-control"
                            id="resLoc"
                            name="resLoc"
                            placeholder="i.e. ION Orchard, Orchard"
                            required
                        />
                        <div class="invalid-feedback">
                            Field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="resAddr">Address</label>
                        <input
                            type="text"
                            class="form-control"
                            id="resAddr"
                            name="resAddr"
                            placeholder="1234 Main St"
                            required
                        />
                        <div class="invalid-feedback">
                            Field cannot be left blank
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="resPnum">Phone Number</label>
                        <input
                            type="text"
                            class="form-control"
                            id="resPnum"
                            name="resPnum"
                            placeholder="XXXXXXXX"
                            required
                            pattern="[0-9]{8}"
                            required
                        />
                        <div class="invalid-feedback">
                            Invalid input
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resType">Restaurant Type</label>
                    <input
                        type="text"
                        class="form-control"
                        id="resType"
                        name="resType"
                        placeholder="i.e. Casual Dining, Cafe, Bakery, etc."
                        required
                    />
                    <div class="invalid-feedback">
                        Field cannot be left blank
                    </div>
                </div>
                <div class="form-group">
                    <label for="cusType">Cuisine Type</label>
                    <input
                        type="text"
                        class="form-control"
                        id="cusType"
                        name="cusType"
                        placeholder="i.e. Korean, Chinese, Japanese, Seafood, Fast Food, etc."
                        required
                    />
                    <div class="invalid-feedback">
                        Field cannot be left blank
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </body>
</html>
