<!DOCTYPE html>
<html>
  <head>
    

    <!-- Header inclusion-->
    <%- include template/header.ejs %>
  </head>
  <body class="bg">
    <!-- Navbar  -->
    <%- include template/navbar.ejs %>

    <h1 class="hd" style="font-size: 6em;">
      Welcome to <br />
      Restaurant Reservation.
    </h1>
    <h4 style="color:white; text-shadow: 2px 2px gray;">
      We wanted to make restaurant reservation simpler than phone calls. So we made this website. 
    </h6>
    <br /><br /><br />
    <form method="get" action="restaurant/search">
        <div class="form-row">
          <div class="col-5">
            <input type="text" id="searchRes" name="searchRes" class="form-control" placeholder="Find a restaurant">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </form>
      <br /><br /><br />
      <h2 class="hd">
        Can't decide where to eat? 
      </h2
      <a class="btn btn-success" href="/restaurant">Show me some restaurants!</a>
  </body>
</html>
